{% extends 'base.html.twig' %}

{% block header_title %}
    To Do List App - Oups ! - {{ status_code }}
{% endblock %}


{% block body %}
    <div id="errorBlock">
        <p>Erreur {{ status_code }}</p>
        <p>Oups ! La page à laquelle vous souhaitez accéder semble ne pas exister. <br /> Retour à <a
                href="{{ path('homepage') }}" title="Retour à l'accueil">l'accueil</a></p>
    </div>
{% endblock %}
